<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <p>差值表达式msg：<span>{{msg}}</span></p>
    <p>差值表达式count：<span>{{count}}</span></p>

    <p>指令v-text</p>
    <p v-text="msg"></p>
    <p v-text="count"></p>

    <p>指令v-model</p>
    <input type="text" v-model="msg">
    <input type="text" v-model="count">
  </div>

  <script src="./dep.js"></script>
  <script src="./watcher.js"></script>
  <script src="./compiler.js"></script>
  <script src="./observer.js"></script>
  <script src="./vue.js"></script>

  <script>
    var vm = new Vue({
      el: "#app",
      data: {
        msg: "消息",
        count: 3,
        person:{
          name:"zhang3"
        }
      }
    })
  </script>
</body>

</html>